{% extends "talk/base.html.twig" %}

{% block body %}
    <h1>Edit Talk</h1>

    {{ include('talk/_form.html.twig', {'button_label': 'Update'}) }}
    {{ include('talk/_delete_form.html.twig') }}
{% endblock %}
