{% extends 'base.html.twig' %}

{% block title %}Talk index{% endblock %}


{% block body %}
    <h1>Talk index</h1>

    {% include "talk/_table.html.twig" %}

    <a class="btn btn-primary" href="{{ path('talk_new') }}"><span class="fas fa-plus"></span>New  Talk</a>
{% endblock %}
